<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AzureStorageEmulatorPath" value="C:\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator\"/>
    <add key="BitcoinDaemonPath" value="D:\Bitcoin\bin\"/>
    <add key="BitcoinWorkingPath" value="D:\Bitcoin\datadir\"/>
    <add key="RegtestRPCUsername" value="bitcoinrpc"/>
    <add key="RegtestRPCPassword" value="Hasht"/>
    <add key="RegtestRPCIP" value="127.0.0.1"/>
    <add key="RegtestPort" value="18332"/>
    <add key="QBitNinjaListenerConsolePath" value="D:\Lykkex\TestConfig\QBit.Ninja.Listener\"/>
    <add key="DBConnectionString" value="metadata=res://*/SqlserverLykkeEntities.csdl|res://*/SqlserverLykkeEntities.ssdl|res://*/SqlserverLykkeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=LykkeTesting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>
    <add key="Network" value="TestNet"/>
    <add key="ExchangePrivateKey" value="cPKU6JrZFB3WWyFsKvdkJYkpQWYpw6hShXjS78BnYseFDCwzXv8L"/>
    <add key="QBitNinjaBaseUrl" value="http://localhost:85/"/>
    <add key="FeeAddress" value="mkULFFogqAdTQvMkLxvp7QJB5oVjxGxxLg"/>
    <add key="ColorCorePort" value="8081"/>
    <add key="Assets" value="[{&quot;AssetId&quot;:&quot;ocmVkVUHnrdSKASFWuHy6hxqTWFc9vdL9d&quot;, &quot;AssetAddress&quot;:&quot;n2JMZcG3dKuRN4c8K89TBwwwDpHshppQUr&quot;, &quot;Name&quot;:&quot;TestExchangeUSD&quot;, &quot;PrivateKey&quot;:&quot;cQc1KwWUg5jPZG8PC7xisJ82GSBdafpdhhNBvwSqZCcJuafX96BL&quot;, &quot;DefinitionUrl&quot;:&quot;https://www.cpr.sm/-KDPVKLTlL&quot;, &quot;Divisibility&quot;:&quot;2&quot;}]"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>
