<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AzureStorageEmulatorPath" value="C:\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator\" />
    <add key="BitcoinDaemonPath" value="D:\Bitcoin\bin\" />
    <add key="BitcoinWorkingPath" value="D:\Bitcoin\datadir\" />
    <add key="RegtestRPCUsername" value="bitcoinrpc" />
    <add key="RegtestRPCPassword" value="Hasht" />
    <add key="RegtestRPCIP" value="127.0.0.1" />
    <add key="RegtestPort" value="18332" />
    <add key="QBitNinjaListenerConsolePath" value="D:\Lykkex\TestConfig\QBit.Ninja.Listener\" />
    <!-- <add key="WalletBackendExecutablePath" value="D:\GitHub\WalletBackendDev\WalletBackEnd\ServiceLykkeWallet\bin\Release\" /> -->
    <add key="WalletBackendExecutablePath" value="D:\GitHub\WalletBackendDev\WalletBackEnd\ServiceLykkeWallet\bin\Debug\" />
    <add key="InQueueConnectionString" value="UseDevelopmentStorage=true" />
    <add key="OutQueueConnectionString" value="UseDevelopmentStorage=true" />
    <add key="DBConnectionString" value="metadata=res://*/SqlserverLykkeEntities.csdl|res://*/SqlserverLykkeEntities.ssdl|res://*/SqlserverLykkeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=LykkeTesting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add key="Network" value="TestNet" />
    <add key="ExchangePrivateKey" value="cPKU6JrZFB3WWyFsKvdkJYkpQWYpw6hShXjS78BnYseFDCwzXv8L" />
    <add key="QBitNinjaBaseUrl" value="http://localhost:85/" />
    <add key="WalletBackendUrl" value="http://localhost:8989/" />
    <add key="FeeAddress" value="mkULFFogqAdTQvMkLxvp7QJB5oVjxGxxLg" />
    <add key="ColorCorePort" value="8081"/>
  </appSettings>
</configuration>